<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="日志">
  <meta name="description" content="查看日志内容">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>日志内容</title>
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <span>
        <%= username %>
      </span>
    </div>
    <div class="content" style="padding: 8px 16px;">
      <% if(fileType == '.html'){ %>
        <%= content %>
      <% } else { %>
        <%- content %>
      <% } %>
    </div>
  </div>
</body>

</html>
